@font-face {
  font-family: "Roboto";
  src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans";
}

:root {
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  overflow: hidden;
}

/*    |||||||||DASHBOARD||||||||| */

.dashboard {
  display: grid;
  grid-auto-flow: row;
  grid-area: 1 / 1 / 3 / 2;
  background-color: white;
  color: black;
  border: 1px rgb(0, 0, 0);
}

.header-logo {
  display: grid;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 5rem;
  margin-left: 2rem;
}

.dashboard-items {
  margin-top: 1rem;
}

.item {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icona-dash {
  height: 1.5rem;
  width: 1.5rem;
}

.communities {
  margin-bottom: 5rem;
}

/*    |||||||||HEADER||||||||| */

.header {
  display: grid;
  grid-template-rows: 1fr 1.7fr;
  grid-template-columns: 1.5fr 1fr;
  margin-top: 0.6rem;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background-color: rgb(226, 232, 240);
  margin-left: 1.6rem;
  margin-right: 10rem;
  height: 2rem;
  padding-left: 1rem;
  flex: 1;
  border: 1px solid darkslategrey;
}

.user-info1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 3rem;
}

.magnify-glass {
  height: 2rem;
  width: 2rem;
  margin-left: 3rem;
}

.bell {
  height: 2rem;
  width: 2rem;
}

.account-circle1 {
  height: 3.5rem;
  width: 3.5rem;
}

.user-name {
  font-size: 1.4rem;
  font-weight: 700;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}

.user-info2 {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 6.5fr;
  align-items: center;
  font-weight: 700;
}

.user-name2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.account-circle2 {
  height: 6rem;
  width: 6rem;
}

.buttons {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5rem;
  gap: 2rem;
}

.button {
  background-color: rgb(25, 146, 212);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 1rem;
  padding: 1rem 2rem;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

/*    |||||||||MAIN CONTENT||||||||| */

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(226, 232, 240);
  overflow: scroll;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.carte {
  display: grid;
  grid-template-rows: 2rem 1fr;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
}
.titolo {
  grid-column: 1 / 3;
  font-size: 1.6rem;
  font-weight: 700;
}
.carta {
  width: 25rem;
  height: 15rem;
  background-color: white;
  border-radius: 1rem;
  border-left: 1rem solid salmon;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: rgb(101, 101, 101);
  padding: 3rem 2rem 1rem 2rem;
  font-size: 1.1rem;
  position: relative;
}

.carta h2 {
  color: black;
  margin-bottom: 0.5rem;
}

.icone {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 2rem;
}

.icona {
  width: 2rem;
  height: 2rem;
}
